$blue: #1473e6;
$red: #ff3366;
$green: rgb(15, 177, 88);
$gray-dark: #2c2c2c;
$gray-medium: #4b4b4b;
$gray-light: #8e8e8e;
$white: #ffffff;
$font: 'Arial', sans-serif;

$background-color: #1e1e1e;
$input-background: #2d2d2d;
$input-border: #3a3a3a;
$text-color: #e0e0e0;
$error-color: $red;