.v-craft-node {
  position: relative;
  transition: all var(--v-craft-transition-duration) ease;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.v-craft-node::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  transition: border-color var(--v-craft-transition-duration) ease-in-out,
    box-shadow var(--v-craft-transition-duration) ease-in-out;
  pointer-events: none;
}

.v-craft-node::before {
  content: "";
  align-items: center;
  background-color: var(--v-craft-blue);
  bottom: -20px;
  color: var(--v-craft-white);
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  left: 0px;
  line-height: 1.4em;
  opacity: 0;
  padding: 0 5px !important;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: opacity var(--v-craft-transition-duration) ease-in-out;
  z-index: 100;
}

.v-craft-node.v-craft-canvas.v-craft-other-node-dragged::before {
  opacity: 0.5;
}

.v-craft-node:hover:not(:has(.v-craft-node:hover)):not(.v-craft-node-selected)::before {
  opacity: 0.8;
}

.v-craft-node-selected::before {
  opacity: 1;
}

.v-craft-node.v-craft-canvas:hover {
  border: 1px solid var(--v-craft-blue-lighter-10);
}

.dark .v-craft-node.v-craft-canvas:hover {
  border: 1px solid var(--v-craft-blue-darker-30);
}

.v-craft-node:hover:not(:has(.v-craft-node:hover))::after {
  border-color: var(--v-craft-blue-lighter-20);
  box-shadow: 0 0 0 1px var(--v-craft-blue);
}

.dark .v-craft-node:hover:not(:has(.v-craft-node:hover))::after {
  border-color: var(--v-craft-blue-darker-25);
  box-shadow: 0 0 0 1px var(--v-craft-blue);
}

.v-craft-node.v-craft-canvas:hover:not(:has(.v-craft-node:hover)):not(
    .v-craft-node-selected
  )::after {
  box-shadow: 0 0 0.5em 0.1em var(--v-craft-blue-transparent-20);
}

.v-craft-node-selected::after {
  border: 1px solid var(--v-craft-blue);
  box-shadow: 0 0 0 1px var(--v-craft-blue);
}

.v-craft-node-selected:not(:hover)::after {
  border: 1px solid var(--v-craft-blue);
  box-shadow: 0 0 0.5em 0.1em var(--v-craft-blue-transparent-20);
}

.v-craft-node-selected::after {
  border: 1px solid var(--v-craft-blue);
  box-shadow: 0 0 0 1px var(--v-craft-blue);
}

.v-craft-node.v-craft-canvas.v-craft-other-node-dragged::after {
  border: 2px dashed var(--v-craft-blue);
}

.v-craft-node.v-craft-canvas:first-child {
  border: none !important;
}

.v-craft-node.v-craft-canvas .v-craft-drop-text {
  border: 2px dashed var(--v-craft-gray-medium);
  color: var(--v-craft-text-color);
  padding: 1.25em;
  width: 100%;
  text-align: center;
}

.v-craft-node.v-craft-canvas.v-craft-other-node-dragged {
  padding: 1.25em;
  margin: 1.25em 0 !important;
}

.v-craft-node-selected {
  z-index: 1;
}

.v-craft-node.v-craft-drag-over {
  box-shadow: 0 0 0 2px var(--v-craft-blue);
}

.v-craft-node.v-craft-dragging {
  opacity: 0.7;
}
