@use 'sass:color';
@import "./base";

.fvc-node {
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.fvc-node::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  pointer-events: none;
}

.fvc-node::before {
  content: "";
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  left: -1px;
  line-height: 1.4em;
  opacity: 0;
  padding: 0 5px !important;
  pointer-events: none;
  position: absolute;
  position: absolute;
  text-transform: none;
  top: -20px;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.fvc-node.fvc-canvas.fvc-other-node-dragged::before,
.fvc-node:hover:not(:has(.fvc-node:hover))::before,
.fvc-node-selected::before {
    opacity: 1;
}

.fvc-node.fvc-canvas:hover {
  border: 1px solid color.adjust($blue, $lightness: -30%);
}

.fvc-node-selected::before {
  opacity: 0.5;
}

.fvc-node:hover:not(:has(.fvc-node:hover))::after {
  border: 1px solid color.adjust($blue, $lightness: -25%);
  box-shadow: 0 0 0 1px $blue;
}
.fvc-node-selected::after {
  border: 1px solid $blue;
  box-shadow: 0 0 0 1px $blue;
}
.fvc-node-selected.fvc-canvas {
  padding: 2px!important;
}

.fvc-node.fvc-canvas.fvc-other-node-dragged::after {
  border: 2px dashed $blue;
}

.fvc-node.fvc-canvas.fvc-empty {
  background-color: $gray-dark;
  padding: 2em;
  border: 2px dashed $gray-medium;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3em;
}

.fvc-node.fvc-canvas.fvc-other-node-dragged {
  background-color: $gray-dark!important;
  padding: 2em;
  margin: 2em 0;
}

.fvc-node-selected {
  z-index: 1;
}

.fvc-node.fvc-drag-over {
  box-shadow: 0 0 0 2px $blue;
}

.fvc-node.fvc-dragging {
  opacity: 0.7;
}
