@import './base';
@import './panel';

$panel-manager-background: darken($background-color, 2%);
$border-color: $input-border;
$title-color: $gray-light;

.fvc-panel-manager {
  --shadow-alpha: 0.8;
  background-color: $panel-manager-background;
  display: grid;
  overflow: hidden;
  grid-template-columns: 9em 1fr 32em;
  grid-template-rows: auto 1fr auto;
  gap: 1px;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  position: relative;
  width: 100%;
  color: $text-color;

  .fvc-grid-panel {
    padding: 10px;
  }

  .fvc-panel-left {
    grid-area: left;
  }

  .fvc-panel-top {
    grid-area: top;
    position: relative;
    width: 100%;
    border-bottom: 2px solid $border-color;
    z-index: 10;
    margin-bottom: 1.125em;
  }

  .fvc-panel-center {
    grid-area: center;
    margin: 1.75em;
    max-width: 60vw
  }

  .fvc-panel-right {
    display: flex;
    flex-direction: column;
    grid-area: right;
    max-width: 20vw;

    > * {
      margin-bottom: 1.5em;
    }
  }

  .fvc-panel-bottom {
    grid-area: bottom;
    position: relative;
  }
}

.fvc-scrollable-content {
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: darken($panel-background, 5%);
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-medium;
    border-radius: 4px;
    &:hover {
      background: lighten($gray-medium, 10%);
    }
  }
}