@import "./base";
@import "./panel";

.fvc-panel.fvc-layers-panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.fvc-layers {
  @extend .fvc-scrollable;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
}

ul.fvc-node-layers {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
